.button-primary {
  background-color: #ff0000;
  border-width: 0;
  width: 100%;
  font-size: 12px;
  padding: 14px 12px;
  color: #FFFFFF;
  border-radius: 4px;
}

.text-button {
  background-color: transparent;
  border-width: 0;
  font-size: 12px;
  padding: 0;
}

.button-icon-text {
  background-color: transparent;
  border-width: 0;
}