.button-primary {
  background-color: #ff0000;
  border-width: 0;
  width: 100%;
  font-size: 12px;
  padding: 14px 12px;
  color: #FFFFFF;
  border-radius: 4px;
}

.button-primary:hover {
  background-color: #FFFFFF;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.button-primary:disabled{
  background-color: #c6c0c0;
}

.text-button {
  background-color: transparent;
  border-width: 0;
  font-size: 12px;
  padding: 0;
}

.button-icon-text {
  background-color: transparent;
  border-width: 0;
}

.button-outline-white {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
  width: 100%;
  padding: 16px 0;
  border-radius: 4px;
}

.button-outline-white.active {
  border: 1px solid #ff0000;
  color: #ff0000;
}

.button-outline-danger {
  background-color: #FFFFFF;
  border: 1px solid #ff0000;
  width: 100%;
  font-size: 12px;
  padding: 14px 12px;
  color: #ff0000;
  border-radius: 4px;
}

.button-outline-danger:hover {
  background-color: #ff0000;
  color: #FFFFFF;
}

.button-outline-danger:disabled{
  background-color: #c6c0c0;
  color: #FFFFFF;
}


.button-close-modal {
  background-color: #FFFFFF;
  border: 1px solid #646464;
  width: 100%;
  font-size: 12px;
  padding: 14px 12px;
  color: #646464;
  border-radius: 23px;
}