.input-field-container {
  width: 100%;
}
.input-field-wrapper {
  position: relative;
  height: fit-content;
}

.text-input-field {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  padding: 14px 38px;
  font-size: 12px;
  width: 100%;
}

.text-input-field::placeholder {
  color: #c7c7c7;
}

.text-input-field:focus {
  outline: none;
}

.text-input-prefix-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color:#c7c7c7;
}

.text-input-suffix-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color:#c7c7c7;
  cursor: pointer;
}

.text-input-suffix-icon button {
  background-color: transparent;
  border-width: 0;
  color:#c7c7c7;
  padding: 0;
  margin: 0;
}