@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  font-family: 'Poppins', sans-serif!important;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}


.auth-wrapper {
  min-height: 100vh;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.login-ilust {
  width: 100%;
  height: 100%;
  object-fit: cover;
}