:root {
  /* text size */
  --text-xxxxxxl: 3.75rem;
  --text-xxxxxl:2.625rem;
  --text-xxxxl: 2rem;
  --text-xxxl:1.5rem;
  --text-xxl:1.375rem;
  --text-xl:1.25rem;
  --text-lg:1rem;
  --text-md:0.875rem;
  --text-sm:0.75rem;
  --text-xs:0.625rem;
}